.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(8, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.audio-progress-bar {
  &.mat-progress-bar {
    display: block;
    width: 300px;
    height: 10px;
  }

  .mat-progress-bar-fill::after {
    background-color: #37474f;
  }

  .mat-progress-bar-buffer {
    background-color: #90a4ae;
  }

  /* remove animation and the dots*/
  .mat-progress-bar-background {
    animation: none;
    background-color:  #800000;
    fill: #eceff1;
  }
}

.media-action-bar {
  width: 100%;
  padding: 2.5rem;
  justify-content: center;
}
.mat-icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.terminal-red {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(242, 241, 255);
}
.musicList
{
  position: relative;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 5px;
  margin-top: 5px;
  background-color: rgb(242, 241, 255);
}

.row{
  padding-left: 160px;
  display: block;
  margin-bottom: 15px;
}

p{
  cursor: pointer;
}
