<h1>About page</h1>
<div class="container">
    <div class="row">
        <div class="col1">
           <img src="https://sun9-56.userapi.com/c624521/v624521717/129cc/lXC4tvRisss.jpg" >
        </div>
        <div class="col2">
            <p>My name is Anna Korotkova and I want to become an Angular developer! This blog is created to show examples of my work.
            Particle physics and High Energy Physics were for me the main course of my life.
                Nevertheless, now, I feel that I want to change my career path dramatically.</p>
        </div>
    </div>
<div class="row">
    <span>Short CV</span>
</div>
</div>


