<nav class="navbar">
  <h1>
    <a href="#">My Angular Blog</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active"><a [routerLink]="['/todos']">Todos</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/player']">Audio Player</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/registration']">Registration</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>

  </ul>
</nav>

<div class="container">
  <div class="card">
    <router-outlet></router-outlet>
<!--    <button class="btn" (click)="showWindow()"> Show modal window </button>-->
  </div>
</div>

<ng-template appRef>

</ng-template>


